@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    background-color: #eee;
    height: 200vh;
}

nav {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 100px;
    background-color: black;
    width: 100%;
    transition: 1s;
}

nav.hidden {
    transform: translateY(-100%);
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
}

nav ul li {
    width: 20%;
}

nav ul li a {
    line-height: 50px;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    border: 2px solid white;
    transition: .5s;
}

nav ul li:nth-child(1) a:hover {
    border-top: 2px solid crimson;
    border-left: 2px solid crimson;
}

nav ul li:nth-child(2) a:hover {
    border-left: 2px solid crimson;
    border-right: 2px solid crimson;
}

nav ul li:nth-child(3) a:hover {
    border-bottom: 2px solid crimson;
    border-right: 2px solid crimson;
}

header {
    width: 100%;
    height: 100vh;
}

header section.text {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

header section.text h1 {
    font-size: 90px;
    font-weight: 900;
    text-transform: uppercase;
    height: 100px;
}

header h1.first {
    animation: slide 1s linear both;
}

header h1.second {
    animation: slide 1s 1s linear both, underline 1s 2s linear both;
}

header h1.third {
    animation: slide 1s 2s linear both;
}

header i {
    position: absolute;
    font-size: 400px;
    top: 50%;
    right: 25%;
    transform: translateY(-50%);
    animation: shake 4s ease both;
    transform-origin: 50% 100%;
}

main {
    height: 100vh;
    background-color: white;
}

@keyframes shake {
    25% {
        transform: translateY(-50%) rotate(-15deg);
    }

    100% {
        transform: translateY(-50%) rotate(30deg);
    }
}

@keyframes slide {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes underline {
    0% {
        border-bottom: 5px solid transparent;
    }

    100% {
        border-bottom: 5px solid crimson;
    }
}