/* @font-face {
    font-family: "BTB";
    src: url("Ballam to Brooklyn.otf");
} */

@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --neonColor: #94B3FD;
}

body {
    background-color: black;
}

header {
    height: 100vh;
}

header div.neon {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

header div.neon h1 {
    /* font-family: 'BTB'; */
    font-family: 'Grand Hotel', cursive;
    font-size: 150px;
    color: var(--neonColor);
    font-style: italic;
    font-weight: 100;
    animation: pulsate 0.11s ease-in-out infinite alternate;
}

header div.neon h1.hello {
    font-size: 175px;
}

header div.neon h1.question {
    transform: translate(-10%, 50%);
}

@keyframes pulsate {
    100% {
        text-shadow:
            0 0 4px #fff,
            /* 0 0 11px #fff, */
            0 0 19px var(--neonColor),
            0 0 40px var(--neonColor),
            0 0 80px var(--neonColor),
            0 0 90px var(--neonColor),
            0 0 100px var(--neonColor),
            0 0 150px var(--neonColor);
    }

    0% {
        text-shadow:
            0 0 4px #fff,
            /* 0 0 10px #fff, */
            0 0 18px var(--neonColor),
            0 0 38px var(--neonColor),
            0 0 73px var(--neonColor),
            0 0 80px var(--neonColor),
            0 0 94px var(--neonColor),
            0 0 140px var(--neonColor);
    }
}